ul {
    font-family: 'Marck Script', cursive;
    font-size: 150%;
}

h1 {
    font-family: 'Marck Script', cursive;
    font-size: 200%;
    padding-left: 40px;
}

input {
    margin-bottom: 10px;
}

.scriptFont {
    font-family: 'Marck Script', cursive;
    font-size: 150%;
}

#contactForm {
    display: flex;
    flex-direction: column;
    width: 242px;
}

#created {
    font-family: 'Marck Script', cursive;
    font-size: 150%;
}
